venv/
*.pyc
workspace.xml
misc.xml
*.iml
db.config.json
.cache/
.coverage
.pytest_cache


client/.cache/
client/dist/
client/node_modules/
client/build/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
