venv/
*.pyc
workspace.xml
misc.xml
*.iml
db.config.json
.cache/
.coverage
.pytest_cache

# Frontend
client/.cache/
client/dist/
client/node_modules/
client/build/
client/.env.local
client/yarn-error.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
