container_commands:
  00_copy_wsgi:
    command: "cp /etc/httpd/conf.d/wsgi.conf ../"

  01_wsgi_pass_authorization:
    command: >
      if ! grep -Fxq "WSGIPassAuthorization On" ../wsgi.conf; then
          echo "WSGIPassAuthorization On" | tee -a ../wsgi.conf
      fi

  02_wsgi_rewrite:
    command: >
      if ! grep -Fxq "RewriteEngine On" ../wsgi.conf; then
          echo "RewriteEngine On" | tee -a ../wsgi.conf
      fi

      if ! grep -Fxq "RewriteCond %{HTTP:X-Forwarded-Proto} !https" ../wsgi.conf; then
          echo "RewriteCond %{HTTP:X-Forwarded-Proto} !https" | tee -a ../wsgi.conf
      fi

      if ! grep -Fxq "RewriteRule . https://%{SERVER_NAME} [L,R=301]" ../wsgi.conf; then
          echo "RewriteRule . https://%{SERVER_NAME} [L,R=301]" | tee -a ../wsgi.conf
      fi

  03_migrate:
    command: "python manage.py migrate"

  04_collectstatic:
    command: "python manage.py collectstatic --noinput"


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
